@media only screen and (max-device-width: 400px) {
    html {
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }
}

body {
    background-color: #1E1F22;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    user-select: none;
}

body, button, input, select, textarea {
    font-family: 'Open Sans', sans-serif;
}

#progress-div {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#loading-progress {
    width: 300px;
    border: none;
    height: 8px;
    border-radius: 4px;
    color: #0075FF;
    background: #CCCCCC;
    -webkit-appearance: none;
}

#loading-progress::-webkit-progress-bar {
    background-color: #CCCCCC;
    border-radius: 4px;
}

#loading-progress::-webkit-progress-value {
    background-color: #0075FF;
    border-radius: 4px;
}

#loading-progress::-moz-progress-bar {
    background: #0075FF;
    border-radius: 4px;
}

#death-div {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#fatal-error {
    font-size: 4em;
}