@media only screen and (max-device-width: 400px) {
    html {
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }
}

body {
    background-color: #C2BCB1;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
}

/*@media (pointer: coarse) {*/
/*    html, body {*/
/*        touch-action: none;*/
/*    }*/
/*}*/

#lunar-canvas {
    image-rendering: pixelated;
    display: block;
    position: absolute;
}